<!-- Main Section - Home Page -->
<div class="container p-5">

        <div class="row">
            <div class="text-center">
                <h1>My Mission</h1>
                <h4 class="pt-2"><i>
                    My mission is to be able to apply analytical thinking to problems and find a 
                    practical solution that has a lasting value and isn’t a quick fix. 
                    As a student, I keep the beginners mind by experimenting without the fear
                    of failure. Learning never stops for me as there's always room for improvement and failures may come along
                    the way, but these continuously mold me into the person I am now.
                </i></h4>
            </div>
    
            <div class="row justify-content-center">
                <div class="col-sm pt-5 text-center">
                    <div class="card d-inline-flex p-2" style="width: 18rem;">
                        <img src="/Assets/images/little_prince.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">The Little Prince</h5>
                        <p class="card-text d-flex justify-content">is a novella by French writer Antoine de Saint-Exupéry
                        </p>
                        <a href="https://www.goodreads.com/book/show/157993.The_Little_Prince" class="btn btn-primary d-flex justify-content-center bg-dark" target="_blank">Good Reads</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-8 pt-5 align-self-center">
                        <h2><b>My Inspiration</b></h2><br>
                        <h5><p>
                            The little prince is a simple tale that tells the story of a child who travels the universe gaining wisdom.<br><br>
                            
                            This book continue to makes sense as I re-read it and grow older. This is not a children's book. This book is for adults who feel nostalgic of the simple comfort of childhood innocence but is aware that they can never go back to it.
                            <br><br>
                            My favorite line from this book is when the fox told the little prince a little secret: “It is only with the heart that one can see rightly; what is essential is invisible to the eye.”
                            <br><br>
                            After writing this book, Antoine de Saint Exupery died when flying his plane in a war to liberate his country, killed by adults who played a game of war.
                            
                        </p>
                    </h5>
                </div>
            </div>
        </div>
</div>


