<!-- Main Section - About Us Page -->
<div class="container pb-5">
    <div class="mt-0 p-5 rounded text-center">
        <h1>About Me</h1>
    </div>

    <div class="d-flex justify-content-evenly">
        <div class="d-flex align-items-center">
            <img src="/Assets/images/about_me.jpg" class="float-left" alt="..." width="400">
        </div>
        <div class="center">
            <h2><b>Emander D. Dangla</b></h2><br>
            <h5><p class="justify">
                Currently a Software Engineering Technology - Artificial Intelligence Student at Centennial College <br><br>
                
                I am seeking a challenging career with a progressive environment that provides an opportunity to practice
                and enhance my knowledge and skills. Also, to develop my interpersonal skill in the field of Software Engineering. <br><br>

                Experienced Application Development Senior Analyst with a demonstrated history of working in the information
                technology and financial services industry. <br><br>
                
                Skilled in Application Support, Object-Oriented Programming (OOP), Docker, Structured Query Language (SQL), Software Development Life Cycle (SDLC), Automation and Shell Scripting.
                
            </p>
            </h5>
            <a href="/Assets/documents/resume.pdf" target="_blank">
            <button type="button" class="btn btn-outline-dark" href="/Assets/documents/resume.pdf" target="_blank">View Resume</button></a>
        </div>
        
    </div>
</div>