 <!-- Footer - Bottom Navigation -->
 <footer>
    <nav class="navbar sticky-bottom bg-dark">
      <div class="container-fluid justify-content-around">
        <div>
          <a href="https://www.linkedin.com/in/emander-dangla-23a1b2a9/" target="_blank">
            <i class="fa-brands fa-linkedin text-white fa-xl"></i>
          </a>
          <a href="https://www.facebook.com/emander.dangla/" target="_blank">
            <i class="fa-brands fa-facebook text-white fa-xl px-1"></i>
          </a>
          <a href="https://www.instagram.com/emander.0/" target="_blank">
            <i class="fa-brands fa-instagram text-white fa-xl"></i>
          </a>
        </div>
        
        <a class="navbar-brand p-3" href="#"><img src="/Assets/images/btm_logo.jpg" width="150"></a>
        <h7 class="navbar-text text-white">&copy; 2022. All rights reserved.</h7>
      </div>
    </nav>
   </footer>